{% extends 'base.html' %}

{% block title %}Forgot my password | {% endblock title %}

{% block content %}


    <div class="row">

        <div class="col-lg mt-3">
            <h4>Forgot my password</h4>
            <p class="mt-3">Enter your email bellow and we will send you an email with instructions to reset your password.</p>
            <form method="POST" action="{% url "user:password_reset" %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="InputEmail">Email</label>
                    <input type="text" name="email"
                        class="form-control" id="InputEmail" aria-describedby="EmailHelp"
                        placeholder="Enter email">
                </div>
                <button type="submit" class="btn btn-primary btn-block btn-lg mt-5">Send me instructions!</button>
            </form>
        </div>

    </div>

{% endblock content %}



