{% extends 'base.html' %}
{% load omfilters %}

{% block title %}{{ user.first_name }}'s demands | {% endblock title %}

{% block content %}

    <div class="row">
        <div class="col">
            <h3 class="mb-4">{{ user }}'s demand</h3>
            <p>You will find all the products you selected bellow.</p>

            <div class="table-responsive">
                <table class="table table-striped">

                    <tr>
                        <th scope="col">Pedido</th>
                        <th scope="col">Total</th>
                        <th scope="col">Qtd. Itens</th>
                        <th scope="col">Status</th>
                        <th scope="col">Mais detalhes</th>
                    </tr>

                    {% for demand in demands %}
                        <tr>
                            <th scope="row">{{ demand }}</td>
                            <td>{{ demand.total|price_format }}</td>
                            <td>{{ demand.total_amount }}</td>
                            <td>{{ demand.get_status_display }}</td>
                            <td>
                                <a href="{% url 'demand:detail' demand.id %}">
                                    See details <i class="fas fa-search-plus ml-2"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>

{% include 'partial/_pagination.html' %}

{% endblock content %}



